* {
	padding: 0;
	margin: 0;
	font-size: 12px
}
body {
	/*background: #333;*/
}
ul,li {
	list-style: none;
}
img {
	border: 0;
}


#zSlider {
	margin: 0px auto;
	width: 983px;
	height: 340px;
	overflow: hidden;

	border-radius:10px;
	margin-top: 15px;
	position: relative;
}

/*大图*/
#picshow,#picshow_img {
	width: 683px;
	height: 340px;

	overflow: hidden;/*溢出部分隐藏*/

	float: left;
}

/*图片底部透明框*/
#picshow_tx {
	left: 0px;
	width: 683px;
	bottom: 0px;

	position: absolute;/*绝对定位*/

	height: 90px;
	overflow: hidden;
}
#picshow_tx li {
	background: url(../image/slide/picshow_bg.png) repeat;/*图片平铺*/
	
	padding: 10px 30px;
	height: 70px;
	color: #fff;
	display: none;
}


#picshow_tx li a {
	color: #fff;
}

#picshow_tx li h3 {
	margin: 13px 0;
}
#picshow_tx li p {
	color: #ccc;
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}

/*缩略图*/
#select_btn {
	width: 300px;
	height: 340px;
	color: #111;
	float: right;

	display: inline;/*转换为内联*/

	/*缩略图背景*/
	background-color: #fff;
}
#select_btn li {
	padding: 9px 11px 0px 9px;
	width: 299px;
	height: 55px;
	border-top: 1px solid #fff;
	cursor: pointer;
}
#select_btn li:hover {
	background-color: #049ff1;
}
#select_btn li.current {
	background-color: #049ff1;
}
#select_btn li.current:hover {
	background-color: #049ff1;
}
#select_btn a {
	color: #000;
}

/*缩略图边框*/
#select_btn img {
	padding: 2px;
	border: 1px solid #ccc;
	width: 70px;
	height: 49px;
	margin-right: 10px;
	float: left;
}


/*缩略图字体*/
#select_btn .select_text {
	height: 20px;
	font: bold 13px/16px 'Microsoft YaHei';
	overflow: hidden;
	display: block;
}

/*缩略图日期位置*/
#select_btn .select_date {
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	display: block;
}