/*面包屑导航*/
/*#main .main-top{
	margin: 2px 0;
	height: 29px;
	border: none;
	background: transparent;
	font: 13px/29px "Microsoft YaHei",tahoma,Verdana,sans-serif;
}


#main .main-top .z a{
	float: left;
	color: #333;
}

#main .main-top .z a:hover{
	color: #00c9bd;
}

#main .main-top .z .nvhm{
	background: url(image/home.png) no-repeat 5px 9px;
	float: left;
	width: 20px;
	height:29px;
	line-height: 200px;
	overflow: hidden;
}

#main .main-top .z em{
	background: url(image/pt_item.png) no-repeat 3px 10px;
	float: left;
	width: 20px;
	height:29px;
	line-height: 200px;
	overflow: hidden;
}*/