/*整体页面的风格*/
body{
	background:url(../image/quc_index_bg.jpg) no-repeat 50% 50%;
	color: #666;
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
}

/**/
a{
	color: #808080;
	text-decoration: none;//去掉a标签的下划线
}

a:hover{
	color: #20b2aa;
}






/*logo的样式*/
#hd, #hd .logo {
	float: left;
	height: 61px;
}
#hd {
	background: transparent;
	margin-bottom: 23px;
	width: 270px;
}
#hd .logo {
	background: url(../image/logo.png) no-repeat;
	margin-left: 13px;
	width: 228px;
}



/*每位互联的样式*/
.info{

	float: right;
}
.info span a {
	font-size: 16px;
}





/*位置居中设置*/
#doc{
	font: 14px "Microsoft YaHei";
	margin: 0 auto;
	position: relative;
	width: 644px;
}

/*整体框的左边距*/
#regWrap {
	margin-left: 112px;
}

/*整体中间内容的样式*/
#quc-bd .content{
	height: 369px;
	padding: 10px 59px 25px 0;
	position: relative;
	width: 523px;
}

/*中间的背景图样式*/
#doc .reg-wrapper2 {
	background: url(../image/bdbg2.png) repeat-x;
	height: 609px;
	padding-top: 14px;
}

/*清除左右两边的浮动*/
.quc-clearfix, .quc-clearfix:after {
	clear: both;
}

/*字体样式*/
.quc-wrapper {
	font: normal 12px/1em 'Helvetica Neue',Helvetica,Arial,SimSun,'宋体',Sans-Serif;
}

/*中间第二层内框样式*/
.quc-mod-sign-up .quc-main {
	background: transparent;
	box-shadow: -7px 0 5px -3px transparent;
	float: left;
	padding: 0 0 20px 20px;
	width: 380px;
}

/*中间第三层框样式*/
.quc-sign-up-wrapper .quc-tip-wrapper {
	padding: 3px 0 5px;
}

.quc-mod-sign-up .quc-tip-wrapper {
	height: 21px;
	line-height: 21px;
	padding: 3px 0 0 75px;
}


/*手机号、校验码、密码、确认密码的整体样式*/
.quc-wrapper .quc-ipbox {
	background: #fff;
	border: 1px solid #ced1d0;
	border-radius: 4px;
	font: 16px "Microsoft YaHei";
	margin-bottom: 10px;
}


/*每项标题样式*/
.quc-mod-sign-up .quc-main .quc-label {
	color: #999;
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	margin-right: 0;
	padding: 0 5px;
	text-align: right;
	width: 80px;
}

/*填空样式*/
.quc-wrapper .quc-input-bg {
	display: inline-block;
	height: 42px;
	vertical-align: middle;
	width: 270px;
}
.quc-sign-up-wrapper .quc-field {
	border-bottom: 1px solid #e5e5e5;
}

.quc-wrapper .quc-input {
	background: none;
	border: none;
	color: gray;
	font-family: inherit;
	font-size: 14px;
	height: 21px;
	line-height: 20px;
	margin: 5px 4px 3px;
	outline: none;
	padding: 6px 7px;
	width: 247px;
}
.quc-wrapper .quc-ipbox .quc-input {
	font: 14px/25px arial;
	margin: 3px 0;
}
.quc-input-middle .quc-input {
	width: 247px;
}




/*获取校验码样式*/
.quc-mod-sign-up .quc-field-mobile .quc-button, .quc-mod-bind-mobile .quc-field .quc-button-blue {
	margin: 0 4px 1px 1px;
}
/*两个按钮的统一样式*/
.quc-wrapper .quc-button {
background: url(../image/i360_email.png?) no-repeat;
display: inline-block;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
vertical-align: middle;
}
/*免费获取验证码的样式*/
.quc-wrapper .quc-button-blue {
	background-position: -10px -380px;
	color: #0182ad;
	font: 14px "Microsoft YaHei";
	height: 44px;
	line-height: 44px;
	text-align: center;
	text-indent: 0;
	width: 139px;
}
.quc-wrapper .quc-button-blue:hover, .quc-wrapper .quc-button-blue:focus {
background-position: -10px -440px;
text-decoration: none;
}
/*马上注册的样式*/
.quc-mod-sign-up .quc-button-sign-up {
background: url(../image/imeiwei_resignedbutton.jpg) no-repeat;
border-radius: 5px;
}

.quc-mod-sign-up .quc-button-sign-up {
background-position: -521px -50px;
margin: 12px 0 0;
}
.quc-wrapper .quc-button-sign-up:focus, .quc-wrapper .quc-button-sign-up:hover, .quc-wrapper .quc-button-sign-up:active {
background-position: -70px -50px;
}





/*校验码常见问题样式*/
.quc-mod-sign-up .quc-field-mobile .quc-mobile-tip {
	color: #9A4;
	font-size: 14px;
	line-height: 44px;
}
.quc-mod-sign-up .quc-field-mobile .quc-mobile-tip {
	margin-right: 50px;
}


/*注册按钮样式*/
.quc-button {
	border: 0;
	cursor: pointer;
	height: 51px;
	outline: medium none;
	width: 372px;
}

/*条款样式*/
.quc-mod-sign-up .quc-field-licence {
font-size: 14px;
margin: 9px 0 0;
}


/*脚部样式*/
#ft, #ft a {
	color: #241C17;
}
#ft {
	margin: 35px 0 10px;
	text-align: center;
}